.featured-product {
	width: 80vw;
	max-width: 650px;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;

	img {
		height: 100%;
		width: 100%;
		filter: drop-shadow(0 35px 35px rgb(167, 167, 167));
		border: 1px solid rgb(228, 228, 228);
	}
	.featured-product__text {
		width: 100%;
		background: linear-gradient(#245015c7, #245015c7), url("/images/linen.png");
		/* Background pattern from Toptal Subtle Patterns */
		background-size: contain;
		padding-bottom: 50px;

		p {
			display: none;
		}
		h2 {
			color: $beige-white;
			width: 75%;
			text-align: center;
			margin: 0 auto;
			padding-top: 30px;
			font-weight: 300;
			font-size: 1.5em;
		}
		a {
			background: $yellow;
			padding: 10px;
			border-radius: 3px;
			display: block;
			width: 30%;
			color: #000;
			text-align: center;
			margin: 0 auto;
			margin-top: 35px;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
.featured-container {
	nav {
		display: none;
	}
}

@media screen and (min-width: 550px) {
	.featured-product {
		width: 85vw;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}

		.featured-product__text {
			background: linear-gradient(#245015c7, #245015c7),
				url("/images/linen.png");
			/* Background pattern from Toptal Subtle Patterns */
			background-size: cover;
			p {
				display: block;
				width: 75%;
				text-align: center;
				margin: 0 auto;
				margin-top: 25px;
				color: $beige-white;
			}
			h2 {
				color: $beige-white;
				width: 75%;
				text-align: center;
				margin: 0 auto;
				padding-top: 50px;
				font-weight: 300;
				font-size: 1.8em;
			}
			a {
				background: $yellow;
				padding: 10px;
				border-radius: 3px;
				display: block;
				width: 30%;
				color: #000;
				text-align: center;
				margin: 0 auto;
				margin-top: 35px;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}
@media screen and (min-width: 1000px) {
	.featured-product {
		width: 85vw;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;

		img {
			width: 100%;
			object-fit: contain;
		}

		.featured-product__text {
			background: linear-gradient(#245015c7, #245015c7),
				url("/images/linen.png");
			/* Background pattern from Toptal Subtle Patterns */
			background-size: cover;
			p {
				display: block;
				width: 65%;
				text-align: center;
				margin: 0 auto;
				margin-top: 25px;
				color: $beige-white;
			}
			h2 {
				color: $beige-white;
				width: 75%;
				text-align: center;
				margin: 0 auto;
				margin-top: 15px;
				font-weight: 300;
				font-size: 1.8em;
			}
			a {
				background: $yellow;
				padding: 10px;
				border-radius: 3px;
				display: block;
				width: 30%;
				color: #000;
				text-align: center;
				margin: 0 auto;
				margin-top: 35px;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
	.featured-container {
		max-width: 1000px;
		display: flex;
		width: 80%;
		justify-content: space-around;
		margin: 0 auto;
		nav {
			margin-top: 50px;
			margin-right: 65px;
			h1 {
				font-weight: 500;
			}
			display: block;
			ul {
				list-style-type: none;
				padding-left: 0;
			}
			li {
				margin-top: 15px;
				font-size: 1.2em;
			}
			a {
				color: $grey;
			}
			a:hover {
				color: $green;
			}
			.active {
				color: $green;
			}
		}
	}
}
