body {
	.content {
		height: 100vh;
		background: repeating-linear-gradient(
			150deg,
			$green,
			$green 100px,
			$beige-white 15px,
			$beige-white 350px
		);
	}

	.text {
		text-align: center;
		margin-top: 150px;
	}
}
