body {
	font-family: $main-font;
	font-weight: 300;
}
h1,
.logo,
h2 {
	font-family: $headings-font;
}
a {
	text-decoration: none;
}
.logo {
	font-size: 1.2em;
	width: 225px;
	height: auto;
}
.main-text {
	z-index: 100;
	position: absolute;
	color: $beige-white;
	left: 8%;
	top: 30%;
	max-width: 80vw;
	h1 {
		font-size: 2.5em;
		margin-bottom: 0;
		font-weight: 400;
	}
	p {
		font-size: 1.2em;
		margin-top: 10px;
		width: 350px;
		max-width: 90vw;
		margin-bottom: 10px;
		margin-left: 25px;
	}
}
.vertical-line {
	text-align: center;
	z-index: 100;
	position: absolute;
	left: 20%;
	top: 48%;

	img {
		height: 50vh;
		width: 2px;
	}
}

.absolute-text {
	h2 {
		color: $beige-white;
		font-size: 1.5em;
		margin-bottom: 0;
		margin-top: 0;
		margin-bottom: 5px;
	}
	.shop-link {
		font-size: 1em;
		text-decoration: none;
		color: $yellow;
	}
}
.featured-items {
	.element-link {
		display: block;
		height: 100%;
	}
}
@media screen and(min-width:600px) {
}
@media screen and(min-width:1300px) {
	.logo {
		font-size: 1.6em;
		width: 225px;
		height: auto;
	}
	.main-text {
		z-index: 100;
		position: absolute;
		color: $beige-white;
		left: 21%;
		top: 25%;
		h1 {
			font-size: 5em;
			margin-bottom: 0;
			font-weight: 400;
		}
		p {
			font-size: 2em;
			margin-top: 10px;
			width: 450px;
			text-align: center;
			margin-left: 25px;
			margin-bottom: 10px;
		}
	}
	.vertical-line {
		text-align: center;
		z-index: 100;
		position: absolute;
		left: 32%;
		top: 55%;
	}

	.absolute-text {
		h2 {
			font-size: 1.5em;
		}
		.shop-link {
			font-size: 1em;
		}
	}
}
