@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-VariableFont_wght.ttf");
	font-weight: 100, 500;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay.ttf");
	font-weight: 100, 900;
	font-style: normal;
}

$yellow: #ffc400;
$beige-white: rgb(253, 253, 213);
$green: #245015dc;
$grey: rgb(92, 92, 92);
$main-font: "Raleway", sans-serif;
$headings-font: "Playfair Display", serif;

$grey-icons: #707070;
